body {
  font-family: Arial;
  background: #f4f6f8;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  outline: none;
}

small {
  font-size: 12px;
  color: red;
  height: 14px;
}

.success {
  border-color: #2ecc71;
}

.error-input {
  border-color: #e74c3c;
}

button {
  padding: 10px;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
